<!--The content below is only a placeholder and can be replaced.-->
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>


<div style="text-align:center">
  <form [formGroup]="form" (submit)="onSend()">
    <div class="form-group">
      <label for="jobsheet">Current job sheet</label>
      <br/>
      <input type="textarea"
          cols="10" rows="3"
          style="width:90%; text-align:center"
          readOnly=false
          class="formControl" 
          formControlName="jobsheet" 
          id="jobsheet" 
          required
        />
    </div>
    <div class="form-group">
      <label for="messages">Messages</label>
      <br/>
      <input type="text"
          style="width:90%; text-align:center"
          class="formControl"
          formControlName="messages"
          id="messages"
      />
      <small id="charHelp" class="form-text text-muted">Generate a jobsheet and press send</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br/><br/><br/>
    <button (click)="onGenerate()" type="button" class="btn btn-primary">Generate sheet</button>
  </form>
</div>

